{{/* this is a docker-gen template. See docker-gen for more details */}}
filebeat:
  prospectors:
  {{ range $key, $value := . }}
    -
      paths:
        - /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
      fields:
        type: {{ $value.Image.Repository }}
        hostname: {{ $value.Hostname }}
        elname: {{ $value.Name }}
        running: {{ $value.State.Running }}
  {{ end }}
output:
  logstash:
    enabled: true
    hosts:
      - <LOGSTASH_HOST>:<LOGSTASH_PORT>
    timeout: 15
logging:
  level: debug
